<p>Para poder utilizar la aplicacion, usted debe loguearse</p>
<div class="form-group col-md-4">
	<div>
		<div collapse="isCollapsed">
			<div class="alert alert-danger">Error al loguearse, el usuario o la password es incorrecto</div>
		</div>
	</div>
	<label for="user">Usuario:</label><input ng-change="removerModal()" class="form-control" id="user" ng-model="usuarioDTO.name"/>
	<label for="pass">Password:</label><input ng-change="removerModal()" class="form-control" type="password" id="pass" ng-model="usuarioDTO.pass"/>
	<br>
	<button class="btn btn-info" ng-click="login()">Login</button>
</div>