<div class="form-group">
	<p>Nueva Operatoria</p>
	<label for="apellido">Codigo:</label><input class="form-control" id="apellido" ng-model="operatoriaDTO.codigo"/>
	<label for="apellido">Descripcion:</label><input class="form-control" id="apellido" ng-model="operatoriaDTO.descripcion"/>
	<label for="apellido">Precio:</label><input class="form-control" id="apellido" ng-model="operatoriaDTO.precio"/>
	<br>
	<button class="btn btn-info" ng-click="guardarOperatoria()">Guardar operatoria</button>
</div>
