<div class="container">
	<h1>Turnos</h1>
	<div id="week" class="btn-group">
		<a href="" class="btn btn-lg btn-primary">Lun</a>
		<a href="" class="btn btn-lg btn-primary">Mar</a>
		<a href="" class="btn btn-lg btn-primary">Mie</a>
		<a href="" class="btn btn-lg btn-primary">Jue</a>
		<a href="" class="btn btn-lg btn-primary">Vie</a>
		<a href="" class="btn btn-lg btn-primary">Sab</a>
		<a href="" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-calendar"></span></a>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Paciente</th>
				<th>Obra Social</th>
				<th>Odontologo</th>
				<th>Horario</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>John</td>
				<td>Doe</td>
				<td>IOMA</td>
				<td>16:30</td>
			</tr>
		</tbody>
	</table>
</div>