<div id="turnolist" class="container">
	<h1>Turnos</h1>
	<div class="top-buffer-20"></div>
	<div class = "row">
	    <label for="numeroAsociado">Odontologo:</label>
	    <select ng-options="odontologo as odontologo.lastName for odontologo in odontologos" 
	    		ng-change="buscarPacientesParaElDia()"
	        	ng-model="odontologoDTO">
	    </select>
	</div>
	<div id="week" class="btn-group btn-group-justified">
		<a href="" class="btn btn-lg btn-primary">Lun</a>
		<a href="" class="btn btn-lg btn-primary">Mar</a>
		<a href="" class="btn btn-lg btn-primary">Mie</a>
		<a href="" class="btn btn-lg btn-primary">Jue</a>
		<a href="" class="btn btn-lg btn-primary">Vie</a>
		<a href="" class="btn btn-lg btn-primary">Sab</a>
		<a ng-href="#/turno/new" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-calendar"></span></a>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Paciente</th>
				<th>Obra Social</th>
				<th>Odontologo</th>
				<th>Horario</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="turno in turnos">
				<td>{{turno.paciente.apellido}}</td>
				<td>{{turno.paciente.prepaga}}</td>
				<td>{{turno.odontologo.lastName}}</td>
				<td>{{turno.fecha | date: "hh:mm" }}</td>
				<td><span ng-hide="turno.finalizada" class="glyphicon glyphicon-ok-circle" ng-click="cerrarTurno(turno)"></span></td>
			</tr>
		</tbody>
	</table>
</div>