			<h1>Turnos</h1>
					<div class="btn-group">
						<a href="turnos.html" class="btn btn-primary">Lun</a>
						<a href="pacientes.html" class="btn btn-primary">Mar</a>
						<a href="planilla.html" class="btn btn-primary">Mie</a>
						<a href="planilla.html" class="btn btn-primary">Jue</a>
						<a href="planilla.html" class="btn btn-primary">Vie</a>
						<a href="planilla.html" class="btn btn-primary">Sab</a>
						<a href="planilla.html" class="btn btn-primary"><span class="glyphicons glyphicons-calendar"></span></a>
					</div>
					<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr>
				</tbody>
			</table>